.app__container{
 display: flex;
}

.title__wrap{
  width: 30%;
  height: 100vh;
  border-right: 1px solid gray;
}

.title__wrap h1{
    text-align: center;
    padding: 30px;
}

.data__tab{
    width: 70%;
    text-align: center;
}